.navigation {
  display: flex;
  align-items: flex-end;
  padding: 20px 0;
  border-bottom: 1px solid rgb(234, 0, 66);
}

.logo {
  margin-right: 20px;
}

.navigationList {
  display: flex;
  margin-bottom: 5px;
}

.navigationItem {
  margin-left: 20px;
  font-size: 24px;
}

.navigationItem:hover {
  color: #fff;
}

.navigationItemActive {
  composes: navigationItem;
  color: #fff;
  border-bottom: 2px solid rgb(234, 0, 66);
}
